.admin-sidebar{

    position:fixed;

    left:0;

    top:0;

    width:260px;

    height:100vh;

    background:#212529;

    color:#fff;

    padding:25px;

    overflow-y:auto;

}

.admin-sidebar h4{

    color:#fff;

}

.admin-sidebar a{

    display:flex;

    align-items:center;

    gap:10px;

    padding:12px;

    margin-bottom:6px;

    border-radius:10px;

    color:#dee2e6;

    text-decoration:none;

    transition:.2s;

}

.admin-sidebar a:hover{

    background:#343a40;

    color:#fff;

}

.admin-content{

    margin-left:260px;

    padding:30px;

}

@media (max-width:768px){

    .admin-sidebar{

        position:relative;

        width:100%;

        height:auto;

    }

    .admin-content{

        margin-left:0;

        padding:20px;

    }

}

@media (max-width:768px){

    .table{

        font-size:.9rem;

    }

    .table td,
    .table th{

        white-space:nowrap;

        vertical-align:middle;

    }

    .table img{

        width:50px !important;

        height:50px !important;

    }

}