:root{

    /* Paleta aprobada */
    --primary:#EC73A8;      /* rosado principal */
    --secondary:#6A4392;    /* morado institucional */
    --accent:#80C2BA;       /* turquesa */

    --background:#FDEBDF;   /* fondo crema */

    --surface:#FFFFFF;

    --text:#592047;         /* morado oscuro para texto */

    --success:#80C2BA;      /* puedes reutilizar el turquesa */

    --danger:#D9534F;       /* este no te lo cambiaron */

    --highlight:#FFB71B;    /* amarillo para detalles */

    --light-pink:#F99BD3;   /* rosado de apoyo */

    --light-lila:#F7F2FA; /* lila muy claro */;

    --white:#FFFFFF;

    --radius:18px;

    --shadow:0 6px 18px rgba(94,43,122,.08);
    --transition:all .3s ease;

}

html, body{

    overflow-x:hidden;

}

body{

background:var(--background);
    color:var(--text);
    font-family:'Fredoka', sans-serif;

}

.navbar{

    padding:15px 0;
background:var(--background);
    border-bottom:1px solid #EFE3D8;
    box-shadow:0 2px 10px rgba(89,32,71,.05);

}

.navbar-brand{

    color:var(--secondary);

    font-size:1.4rem;

}

.nav-link{

    color:var(--secondary);

    margin-left:20px;

    font-size:.95rem;

    font-weight:400;

    letter-spacing:.2px;

    transition:.3s;

    position:relative;

    padding-bottom:10px;
     text-transform:uppercase;

    letter-spacing:1px;

}

.nav-link:hover{

    color:var(--primary);

}

.nav-link.active{

    color:var(--secondary);

    font-weight:700;

}

.nav-link::after{

    content:"";

    position:absolute;

    left:50%;

    bottom:-8px;

    transform:translateX(-50%);

    width:0;

    height:3px;

    background:var(--primary);

    border-radius:10px;

    transition:width .3s ease;

}

.nav-link:hover::after,

.nav-link.active::after{

    width:100%;

}

.logo-navbar{

    height:55px;
    width:auto;

}

.brand-title{

    font-size:1rem;

    font-weight:400;

    color:var(--secondary);

    line-height:1.1;

}

.brand-subtitle{


    font-size:.8rem;

    color:#7B6A85;

    letter-spacing:.5px;

}

.hero{

    padding:80px 0;

}

.hero-top{

    background:var(--background);

    padding:28px 0;

    border-bottom:1px solid #E7D9CF;

}

.hero-top::after{

    content:"✿";

    position:absolute;

    right:50px;

    top:20px;

    font-size:70px;

    color:#E8C8D9;

    opacity:.35;

}

.hero-tag{

    display:inline-block;

    background:#F4DCE7;

    color:var(--secondary);

    padding:10px 20px;

    border-radius:30px;

    font-weight:700;

    font-size:.95rem;

    letter-spacing:.5px;

}

.hero-tagline{

    margin-top:18px;

    margin-bottom:0;

    max-width:700px;

    color:#6C5A73;

    font-size:1.1rem;

    line-height:1.7;

}

.badge-custom{

    background:#F5D7E6;
color:var(--secondary);
    padding:8px 16px;
    border-radius:30px;
    display:inline-block;

    margin-bottom:20px;

    font-weight:600;

}



h2.section-title{
    font-family:'Fredoka', sans-serif;
    font-size:clamp(1.8rem,3vw,2.8rem);
    font-weight:600;
    color:var(--secondary);
}

p.section-title{
    font-family:'Fredoka', sans-serif;
    font-size:clamp(.85rem,2.5vw,2.0rem);
    font-weight:400;
    color:var(--text);
    line-height:.85;
    text-align:center;
}

.hero-title{
    display:flex;
    flex-direction:column;
    line-height:.95;
    margin-bottom:1.5rem;
}


.hero-main{
    font-family:'Fredoka', sans-serif;
    font-size:clamp(1.7rem,3.7vw,3.2rem);
    font-weight:500;
    color:var(--secondary);
    line-height:.95;
}

.hero-accent{
    font-family:'Fredoka', sans-serif;
    font-size:clamp(0.9rem,2.9vw,1.9rem);
    font-weight:400;
    color:var(--text);
    line-height:0.8;
}

.hero h1{

    font-family:'Fraunces', serif;

    font-size:3.3rem;

    font-weight:700;

    color:var(--secondary);

    line-height:1.15;

}

.hero p{

    font-family:'Fredoka', sans-serif;

    color:#6C5A73;

    font-size:1.15rem;

    line-height:1.8;

}

.search-box{

    display:flex;

    gap:10px;

}

.btn-search{

    background:var(--primary);

    color:white;

    padding:12px 25px;

}

.btn-search:hover{

    background:#A3154A;

    color:white;

}

.hero-image{

    width:100%;

    height:420px;

    object-fit:cover;

    border-radius:24px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.categories{

    padding:70px 0;

}


.card-image{

    height:180px;

    background:#ECECEC;

    border-radius:15px;

    margin-bottom:20px;

}

.btn-outline-custom{

    border:2px solid var(--primary);

    color:var(--white);

    background:var(--primary);

    border-radius:12px;

    padding:12px 24px;

    font-weight:400;

}

.btn-outline-custom:hover{

    background:var(--accent);

    color:white;

}



@media(max-width:768px){

.hero{

    text-align:center;

}

.hero-image{

    height:300px;

    margin-top:30px;

}

.search-box{

    flex-direction:column;

}

.hero-image{

    margin-top:40px;

}

}

.profile-header{

    background:white;

    margin-top:-90px;

    position:relative;

    z-index:10;

    border-radius:30px 30px 0 0;

    padding:0 0 70px;

}

.profile-logo{

    width:180px;

    height:180px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid white;

    box-shadow:0 12px 35px rgba(0,0,0,.15);

    margin-top:-90px;

}

.gallery{

    padding:60px 0;

}

.gallery-image{

    width:100%;

    height:350px;

    object-fit:cover;

    border-radius:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.gallery-image:hover{

    transform:scale(1.03);

}

.contact-gallery{

    background:var(--light-pink);

}

.carousel-inner{

    border-radius:18px;

    overflow:hidden;

    background:transparent;

}


.description{

    background:var(--background);

}

.description p{

    max-width:900px;

    margin:auto;

    text-align:center;

    font-size:1.1rem;

    color:#666;

}

.description .section-title{

    text-align:center;

}

.products{

    padding:70px 0;
     background:var(--light-lila); /* lila muy claro */

}

.products-banner{
    margin-top:70px;
    background:var(--accent);
    padding:28px 0;
    margin-bottom: 0;
}

.products-banner p{
    margin:0;
    text-align:center;
    font-family:'Fredoka', sans-serif;
    font-size:clamp(1.3rem,2.3vw,1.6rem);
    font-weight:500;
    color:var(--text);
    line-height:0.9;
}

.about-project{
    background:var(--background);
    padding:80px 0;
}

.project-highlights{

    margin:50px 0 70px;

}

.highlight{

    font-family:'Fredoka', sans-serif;

    font-size:clamp(1.5rem,3vw,2.3rem);

    font-weight:500;

    line-height:1.15;

    margin:0 0 10px;

}

.purple{
    color:#B58AD6;
    font-size:clamp(1.3rem,2vw,1.8rem);
}

.green{
    color:var(--accent);
    font-size:clamp(2.8rem,5vw,4.5rem);
    
}

.burgundy{
    color:#7C2348;
    font-size:clamp(1.8rem,3vw,2.6rem);
}

.pink{
    color:var(--primary);
    font-size:clamp(2.2rem,4vw,3.4rem);
}

.project-content{

        border-top:1px solid #EEE5F3;

    padding-top:60px;

    margin-top:60px;

}

.project-text{
    font-size:1.05rem;
    font-weight:500;
    line-height:1.9;
    color:var(--text);
    text-align:justify;
}

.project-image{

    width:100%;

    max-width:420px;

    height:auto;

}

.project-footer{

    margin-top:70px;

    text-align:right;

}

.contact{

    background:white;

}

.contact-card{

    max-width:600px;

    margin:auto;

    padding:40px;

    border-radius:14pxpx;

    background:var(--accent);

    text-align:center;

    box-shadow:0 5px 14pxpx rgba(0,0,0,.05);
    height:100%;

}

.contact-card p{

    margin-bottom:15px;

}

.category-header{

    background:white;

    padding:60px 0 40px;

}

.category-header h1{

    font-size:2.5rem;

    font-weight:700;

    margin-top:10px;

}

.category-header p{

    color:#666;

    max-width:700px;

}

.breadcrumb{

    display:flex;

    gap:10px;

    font-size:.95rem;

}

.breadcrumb a{

    color:var(--primary);

    text-decoration:none;

}

.breadcrumb span{

    color:#888;

}

.stat-card{

background:white;

padding:30px;

border-radius:14px;

text-align:center;

border:1px solid #EFE3D8;

}

.stat-card h2{

font-size:2.2rem;

color:var(--primary);

margin-bottom:10px;

}

.table-logo{

width:50px;

height:50px;

background:#ECECEC;

border-radius:50%;

}

.contact-info{

    background:white;

    padding:35px;

    border-radius:14px;

    box-shadow:0 8px 14pxpx rgba(0,0,0,.05);

    height:100%;

}

.contact-form{

    background:white;

    padding:35px;

    border-radius:14px;

    box-shadow:0 8px 14px rgba(0,0,0,.05);

}

.contact-info p{

    margin-bottom:25px;

    color:#555;

}

.contact-form textarea{

    resize:none;

}

/* ==========================================
   FOOTER
========================================== */

.site-footer{

    background:var(--secondary);

    padding:60px 0 0;

}

.project-logo{

    width:100%;

    max-width:250px;

    height:auto;

}

.footer-logo{

    width:100%;

    max-width:800px;

    height:auto;

}

.footer-person{

    margin-bottom:35px;

}

.footer-person:last-child{

    margin-bottom:0;

}

.footer-person p{

    margin:6px 0 0;

    font-size:1rem;

    font-weight:400;

    color:rgba(255,255,255,.85);

    line-height:1.4;

}

.footer-person h5{

    margin:0;

    font-family:'Fredoka', sans-serif;

    font-size:clamp(1.2rem,2vw,1.6rem);

    font-weight:600;

    color:#FFFFFF;

    line-height:1.2;

}

/* ===================================
   CATEGORY CARD
=================================== */

.category-link{

    text-decoration:none;
    color:inherit;

}

.category-card{

    background:var(--white);

    border:1px solid transparent;

    border-radius:14px;

    padding:35px 30px;

    text-align:center;

    height:100%;

    transition:all .30s ease;

    box-shadow:0 8px 14px rgba(0,0,0,.05);

}

.category-card:hover{

    transform:translateY(-8px);

    border-color:var(--accent);

    box-shadow:0 18px 40px rgba(0,0,0,.10);

}

.category-icon{

    width:80px;

    height:80px;

    margin:0 auto 25px;

    border-radius:50%;

    background:var(--primary);      /* morado muy claro */

    color:var(--primary);  /* morado institucional */

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:2rem;

    transition:.30s;

}

.category-card:hover .category-icon{

    background:var(--light-lila);

    color:white;

    transform:scale(1.08);

}

.category-card h4{

    font-size:1.5rem;

    font-weight:500;

    margin-bottom:15px;

}

.category-card p{

    color:var(--text);

    font-size:.95rem;

    line-height:1.7;

    margin:0;

}

/* ===================================
   BUSINESS CARD
=================================== */

.business-card{

    background:var(--surface);

    border-radius:14px;

    overflow:hidden;

    box-shadow: 0 6px 20px rgba(89, 32, 71, 0.08);

    transition:var(--transition);

    height:100%;

}


.business-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 40px rgba(0,0,0,.12);

}

.business-cover{

    height:180px;

}

.business-cover-img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.business-logo-wrapper{

    display:flex;

    justify-content:center;

    margin-top:-45px;

}

.business-logo{

    width:90px;

    height:90px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid white;

    background:white;

}

.business-body{

    padding:25px;

    text-align:center;

}

.business-category{

    display:inline-block;

    background:#FCE4EC;

    color:var(--primary);

    padding:6px 14px;

    border-radius:30px;

    font-size:.85rem;

    font-weight:600;

    margin-bottom:15px;

}

.business-body h4{

    font-size:1.3rem;

    font-weight:500;

    margin-bottom:15px;

}

.business-body p{

    color:#666;

    line-height:1.7;

    min-height:85px;

    margin-bottom:25px;

}

.btn-primary-custom{

    background: var(--background);

    color: var(--text);!important; 

    border: none;

    border-radius: 12px;

    padding: 12px 24px;

    font-weight: 400;

    letter-spacing: .3px;

    transition: all .3s ease;

}

.btn-primary-custom:hover{

    background: var(--primary);

    color: var(--white);

    transform: translateY(-2px);

    box-shadow: 0 6px 15px rgba(94,43,122,.20);

}

.btn-contact{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    width:100%;

    padding:12px 14px;

    margin-bottom:15px;

    border:2px solid #E5E7EB;

    border-radius:14px;

    background:var(--white);

    color:var(--dark);

    font-weight:600;

    text-decoration:none;

    transition:.3s;

}

.btn-contact:hover{

    border-color:var(--accent);

    color:var(--secondary);

    transform:translateY(-2px);

    box-shadow:0 8px 14pxpx rgba(0,0,0,.08);

}


/* ===========================
   BOTÓN TARJETA EMPRENDIMIENTO
=========================== */

.btn-business{

    background:var(--white);

    color:var(--secondary);

    border:2px solid var(--secondary);

    border-radius:12px;

    padding:12px 24px;

    font-weight:400;

    transition:all .3s ease;

}


.btn-business:hover{

    background:var(--accent);

    color:white;

    border-color:var(--accent);

    transform:translateY(-2px);

    box-shadow:0 6px 15px rgba(94,43,122,.20);

}

@media (max-width:768px){

    .hero{
        text-align:center;
    }

    .hero h1{
        font-size:2.5rem;
        line-height:1.2;
    }

    .hero p{
        font-size:1.2rem;
    }

    .badge-custom{
        font-size:.85rem;
    }

    .hero-image{
        height:300px;
        margin-top:30px;
    }

}

@media (max-width:576px){

    .hero{
        padding:50px 0;
    }

    .hero h1{
        font-size:2rem;
    }

    .hero p{
        font-size:1rem;
    }

    .btn-outline-custom{
        width:100%;
    }

}




/* ===========================
   Animaciones móviles
=========================== */

.animate{

    opacity:0;

    transform:translateY(35px);

    transition:
        opacity .6s ease,
        transform .6s ease;

    will-change:opacity, transform;

}

.animate.show{

    opacity:1;

    transform:translateY(0);

}

/* ===========================
   DESCRIPCIÓN COLAPSABLE
=========================== */

.btn-description{

    display:none;

}


    .description-content{

        max-height:180px;

        overflow:hidden;

        position:relative;

        transition:max-height .35s ease;

    }

    .description-content.expanded{

        max-height:3000px;

    }

    .description-content::after{

    content:"";

    position:absolute;

    left:0;

    right:0;

    bottom:0;

    height:70px;

    background:linear-gradient(
        rgba(253,235,223,0),
        var(--background)
    );

    pointer-events:none;

}

.description-content.expanded::after{

    display:none;

}

    .btn-description{

        display:block;

        margin:15px auto 0;

        background:none;

        border:none;

        color:var(--secondary);

        font-family:'Fredoka',sans-serif;

        font-weight:600;

        cursor:pointer;

    }


@media(max-width:768px){

    .project-highlights{

        text-align:center;

    }

    .highlight{

        font-size:1.5rem;

    }

    .project-content{

        text-align:center;

    }

    .project-text{

        text-align:left;

        margin-top:30px;

    }

}

@media (max-width:991px){

    .site-footer{

        text-align:center;

    }

    .footer-logo{

        max-width:220px;

        margin-bottom:30px;

    }

    .footer-person{

        margin-bottom:25px;

    }

}

.btn-outline-custom,
.btn-primary-custom{

    font-size:1rem;
    padding:12px 24px;

}


@media(max-width:576px){

    .btn-outline-custom,
    .btn-primary-custom{

        width:100%;
        font-size:.95rem;
        padding:11px 18px;

    }

}

/* ===========================
   CATEGORY COLORS
=========================== */


.category-pink{

    background:#EC73A8;

}


.category-pink .category-icon{

    background:#F9C6DD;

    color:white;

}



.category-purple{

    background:#E7D8F5;

}


.category-purple .category-icon{

    background:var(--secondary);

    color:white;

}



.category-green{

    background:#80C2BA;

}


.category-green .category-icon{

    background:#C9EAE4;

    color:white;

}



.category-yellow{

    background:#FFB71B;

}


.category-yellow .category-icon{

    background:#FFE6A8;

    color:white;

}

.category-blue{

    background:#2196F3;

}


.category-blue .category-icon{

    background:#E3F2FD;

    color:white;

}



.category-orange{

    background:#F28C28;

}


.category-orange .category-icon{

    background:#FFF0E0;

    color:white;

}



.category-teal{

    background:#009688;

}


.category-teal .category-icon{

    background:#DDF4F0;

    color:white;

}



.category-red{

    background:#FDE3E3;

}


.category-red .category-icon{

    background:#E57373;

    color:white;

}

/* ===========================
   CATEGORÍA DETALLE EMPRENDIMIENTO
=========================== */

.detail-category{

    display:inline-block;

    background:var(--accent);

    color:var(--secondary);

    padding:8px 18px;

    border-radius:30px;

    font-size:1.2rem;

    font-weight:500;

    margin-bottom:20px;

}

/* ===========================
   BOTÓN EXPLORAR EMPRENDIMIENTOS
=========================== */

.btn-explorar{

    border:2px solid var(--accent);

    color:var(--text);

    background:var(--accent);

    border-radius:12px;

    padding:12px 24px;

    font-weight:400;

}


.btn-explorar:hover{

    background:var(--primary);

    color:white;

}

.hero-image-link{

    display:block;

}


.hero-image-link .hero-image{

    transition:.3s ease;

}


.hero-image-link:hover .hero-image{

    transform:scale(1.03);

}

/* ===========================
   LOGOS INSTITUCIONALES
=========================== */

.top-logos{

    background:var(--background);

    padding:12px 0;

}


.top-logo{

    height:65px;

    width:auto;

    object-fit:contain;

}
/* Responsive */
@media(max-width:576px){

    .top-logos .container{

        gap:20px;

    }


    .top-logo{

        height:35px;

        max-width:45%;

    }

}

.brand-text{

    min-width:0;

}


.brand-title{

    white-space:normal;

}

@media(max-width:576px){

    .navbar-brand{

        gap:10px !important;

    }


    .brand-title{

        font-size:.75rem;

        line-height:1.1;

    }


    .brand-subtitle{

        font-size:.65rem;

    }

}

@media(min-width:576px){

    .project-logo{

        text-align:left;
        max-width:150px;

    }

}

@media(max-width:576px){

    .purple{
        font-size:1.2rem;
    }

    .green{
        font-size:2.2rem;
    }

    .burgundy{
        font-size:1.5rem;
    }

    .pink{
        font-size:1.8rem;
    }

}

@media(max-width:768px){

    .project-content .col-lg-7{

        text-align:center;

    }

    .project-text{

        text-align:center;

    }

}
